doctype html(lang='en')
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', type='image/png', sizes='16x16', href='/plugins/images/favicon.png')
    title Ample Admin Template - The Ultimate Multipurpose admin template
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css', rel='stylesheet')
    link(rel="stylesheet",href="/plugins/bower_components/dropify/dist/css/dropify.min.css")
    link(href='/css/animate.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    link#theme(href='/css/colors/megna-dark.css', rel='stylesheet')
    link(href="/plugins/bower_components/datatables/jquery.dataTables.min.css", rel="stylesheet",type="text/css")
    link(href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css",rel="stylesheet",type="text/css")

body.fix-header
  #wrapper
    nav(class="navbar navbar-default navbar-static-top m-b-0")
      div(class="navbar-header")
       div(class="top-left-part")
        a(class="logo",href="index.html")
         b
          img(src="/plugins/images/admin-logo.png",alt="home",class="dark-logo")
          img(src="/plugins/images/admin-logo-dark.png",alt="home",class="light-logo")
         span(class="hidden-xs")
          img(src="/plugins/images/admin-text.png",alt="home",class="dark-logo")
          img(src="/plugins/images/admin-text-dark.png",alt="home",class="light-logo")

    .navbar.navbar-default.sidebar(role='navigation')
      .sidebar-nav
        ul#side-menu.nav
          li
            a.waves-effect(href='widgets.html')
              i.mdi.mdi-av-timer.fa-fw(data-icon='v')
              |  
              span.hide-menu  Inicio 
          |                     
          li
            a.waves-effect(href='javascript:void(0)')
              i.mdi.mdi-av-timer.fa-user(data-icon='v')
              |  
              span.hide-menu
                | Estudiantes 
                span.fa.arrow
                |  
                span.label.label-rouded.label-inverse.pull-right 4
            |                         
            ul.nav.nav-second-level
              li
                a(href="/admin/alumnos/mostrar")
                  i.fa-fw P
                  span.hide-menu Pregrado
              |                             
              li
                a(href="/admin/alumnos/mostrar")
                  i.fa-fw B
                  span.hide-menu Bachiller
              |                             
              li
                a(href="/admin/alumnos/mostrar")
                  i.fa-fw T
                  span.hide-menu Titulo
          |                     
          li
            a.waves-effect(href='/admin/alumnos')
              i.mdi.mdi-settings.fa-fw
              |  
              span.hide-menu  Crear Alumno 
          li
            a.waves-effect(href='/')
              i.mdi.mdi-settings.fa-fw
              |  
              span.hide-menu  Cerrar Sesion
    |         
    #page-wrapper
      .container-fluid
        .row.bg-title
                    
        .row
          .col-md-12
            .white-box
              block content
      |                 
      footer.footer.text-center  2017 &copy; Ample Admin brought to you by themedesigner.in 
  |     
  script(src='/plugins/bower_components/jquery/dist/jquery.min.js')
  script(src='/bootstrap/dist/js/bootstrap.min.js')
  script(src='/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js')
  script(src='/js/jquery.slimscroll.js')
  script(src='/js/waves.js')
  script(src='/js/custom.js')