doctype html
html
  head
    meta(charset="UTF-8")
    title AdminLTE 2 | Dashboard
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')

    link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/colors/blue.css',id='theme')

 body
    block content
    

    script(src="/plugins/bower_components/jquery/dist/jquery.min.js")
    script(src="/bootstrap/dist/js/bootstrap.min.js")
    script(src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js")
    script(src="/js/jquery.slimscroll.js")
    script(src="/js/waves.js")
    script(src="/js/custom.min.js")
    script(src="/plugins/bower_components/styleswitcher/jQuery.style.switcher.js")




    