extends ../layout2

block content
  
  div(class="row")
    div(class="col-md-12")
      div(class="row")
        div(class="col-md-12")
         h3(class="box-title m-b-0") Informacion del estudiante
      div(class="row")
        div(class="col-md-3")
         p Nombre
        div(class="col-md-3")
         p Grados
        div(class="col-md-3")
         p Codigo Pregrado
        div(class="col-md-3")
         p Codigo Titulo
      div(class="row")
       div(class="col-md-3")
        p Apellidos
       div(class="col-md-3")
        p Grado Actual
       div(class="col-md-3")
        p Codigo Bachiller
       div(class="col-md-3")
        p -
      div(class="row")
       div(class="col-md-5")
        button(type="button",class="btn btn-default") Pregrado
        button(type="button",class="btn btn-default") Bachiller
        button(type="button",class="btn btn-default") Titulo

       div(class="col-md-7")

        div(id="responsive-modal",class="modal fade",tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true",style="display: none;")
          div(class="modal-dialog")
            div(class="modal-content")
                div(class="modal-header")
                    button(type="button",class="close",data-dismiss="modal",aria-hidden="true") ×
                    h4(class="modal-title") Modal Content is Responsive
                div(class="modal-body")
                    form
                        div(class="form-group")
                            label(for="recipient-name",class="control-label") Recipient:
                            input(type="text",class="form-control",id="recipient-name")
                        div(class="form-group")
                            label(for="message-text",class="control-label") Message:
                            textarea(class="form-control",id="message-text")
                
                div(class="modal-footer")
                    button(type="button",class="btn btn-default waves-effect", data-dismiss="modal") Close
                    button(type="button",class="btn btn-danger waves-effect waves-light") Save changes
        
        button(type="button",class="btn btn-default pull-right",data-toggle="modal",data-target="#responsive-modal") Agregar Documento
    
  div(class="row")
    div(class="col-md-3")
     div(class="white-box")
      div(class="product-img")
       img(src="/plugins/images/chair.jpg")
      div(class="product-text")
       h3(class="box-title") Silla 0
    div(class="col-md-3")
     div(class="white-box")
      div(class="product-img")
       img(src="/plugins/images/chair4.jpg")
      div(class="product-text")
       h3(class="box-title") Silla 4

    div(class="col-md-3")
     div(class="white-box")
      div(class="product-img")
       img(src="/plugins/images/chair2.jpg")
      div(class="product-text")
       h3(class="box-title") Silla 2
    div(class="col-md-3")
     div(class="white-box")
      div(class="product-img")
       img(src="/plugins/images/chair3.jpg")
      div(class="product-text")
       h3(class="box-title") Silla 3
    div(class="col-md-3")
     div(class="white-box")
      div(class="product-img")
       img(src="/plugins/images/chair.jpg")
      div(class="product-text")
       h3(class="box-title") Silla

